@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded');
body {
    font-family: 'Encode Sans Expanded', sans-serif;
}

table#chessBoard {
    width: 600px;
    height: 600px;
    border: 1px solid black;
    margin: 0 auto;
    border-collapse: collapse;
}

tr {
    background-color: pink;
    height: 75px;
}

td {
    width: 75px;
    border: 1px solid black;
    text-align: center;
}

div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid dimgray;
    margin: auto;
    transition : border 1000ms ease-out;
}

.player1 {

    background: radial-gradient(circle, antiquewhite, sienna, sandybrown );
}

.player2 {
 
    background: radial-gradient(circle, antiquewhite, darkkhaki, wheat);
}

td.white {
    background-color: whitesmoke;
}

td.brown {
    background-color: burlywood;
}

td.blue {
    background-color: deepskyblue;
}

div.selectedPiece {
    border : 2px solid tomato;   
}

ol {
    float: left;
}

